/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2,p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-------------------------------------------------------------------------------------*/
* {
    transition: all .2s;
    box-sizing: border-box;
}
.box-bord {
    border: 1px;
    border-radius: 4px;
    box-shadow:0 0 3px 1px #2aabd2; 
}
.my-test {
    display: block;
    height: 100px;
}

.container-bar {
    height: 60px;
    width: 100%;
    background: #444;
    padding: 0;
    list-style: none;
    object-position: fixed;
}
.logo {
    margin-right: 300px; 
    font-style: italic;
    padding: 0;
}
.my-nav-bar {
    display: inline-block;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 10px 200px;
    
}

.my-nav-bar li a {
    height: 40px;
    width: 200px;
    background: #777;
    display: inline-block;
    line-height: 40px;
    padding-left: 15px; 
    text-decoration: none;
    color: #fff;
}
.my-nav-bar li a:hover {
    background: dodgerblue;
    box-shadow: inset 1px 3px 15px #2962ff;
    transition: background .2s ease-in-out, box-shadow .2s ease-in-out .1s;
}

.left-menu {
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}
.left-menu li {
    
}
.left-menu li a {
    display: block;
    width: 200px;
    height: 40px;
    padding: 10px;
    margin: 1px;
    background: #777;
    text-decoration: none;
    color: #fff;
    box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.2);
}
.left-menu li a:hover {
    background: #2962ff;
}
@media screen and (max-width: 1801px) {
.logo {
    margin-right: 100px; 
}
.my-nav-bar {
    font-size: 14px;
}

.my-nav-bar li a {
    height: 40px;
    width: 150px;
}

}

@media screen and (max-width: 1348px) { 
    .my-nav-bar {
        padding: 10px 50px;
    }
    .logo {
    margin-right: 50px; 
}
}
.test {
    display: block;
    width: 50px;
    height: 50px;
    background: blue;

}