/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2,p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-------------------------------------------------------------------------------------*/
* {
    transition: all .2s;
    box-sizing: border-box;
}
.box-bord {
    border: 1px;
    border-radius: 4px;
    box-shadow:0 0 3px 1px #2aabd2; 
}
.update {
    display: block;
    background: #ddd;
    width: 240px;
    height: 180px;
    border: 1px solid #ccc;
    box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px; 
}

.container-bar {
    height: 60px;
    width: 100%;
    margin: 0px;
    background: #444;
    padding: 0;
    margin: 0;
    list-style: none;
    object-position: fixed;
}
.my-nav-bar {
    display: block;
    padding: 10px;
    padding-left: 130px; 
}
.li-menu {
    display: none;
}
.my-nav-bar a {
    display: none;
    /*padding: 10px;
    width: 200px;
    height: 40px;*/
}
.my-nav-bar i {
    display: none;
}
.my-nav-bar li a {
    display: inline-block;
    margin: 0 5px; 
    width: 200px;
    height: 40px;
    background: #777;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
}

.my-nav-bar li a:hover {
    background: dodgerblue;
    box-shadow: inset 1px 3px 15px #2962ff;
    transition: background .2s ease-in-out, box-shadow .2s ease-in-out .1s;
}
.my-nav-li .logo {
    margin-right: 120px;
    font-size: 23px;
    width: 220px;
    height: 40px;
    background: rgba(0, 0, 0, 0);
}
/*@media screen and (max-width: 1801px) {

}*/

@media screen and (max-width: 1348px) { 
.my-nav-bar {
    padding-left: 40px; 
}
.my-nav-bar li a {
    width: 150px;
    margin: 0 3px;
}
.update{
    display: none;
}
.left-menu {
    display: none;
}
.my-nav-li .logo {
    margin-right: 40px;
    width: 170px;
    font-size: 19px;
}
.my-nav-bar a {
    display: none;
}
.my-nav-bar i {
    display: none;
}
}
@media screen and (max-width: 907px) {
    .my-nav-bar {
        padding: 10px 70px;
        width: 100%;
    }
    .ms-menu {
        display: block;
        height: 40px;
        width: 100%;
        position: absolute;
    }
    .ms-menu a {
        display: inline-block;
        width: 250px;
        height:40px;
        text-decoration: none;
        color: #ffffff;
        padding: 10px;
        font-size: 26px;
        margin-right: 50%;
        position: relative;
    }
    .ms-menu a:hover {
        cursor: pointer;
        color: dodgerblue;
        transition: color .2s ease-in-out;
    } 
    .ms-menu i{
        display: inline-block;
        border: 1px solid #fff;
        padding: 4px;
        border-radius: 5px;
        color: #fff;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.21);
        position: relative;
    }
    .ms-menu i:hover {
        cursor: pointer;
    } 
    .my-nav-li {
        display: block;
        margin-top: 50px;
        width: 0px;
        height: 0px;
        overflow: hidden;
        transition-property: all .8s ease-in-out;
        border-radius: 0 0 10px 10px;
        z-index: 999;
        position: relative;
        width: 100%;
    }
    .my-nav-bar li a {
        height: 40px;
        width: 100%;
        background: rgba(70, 70, 70, 0.8);
         position: relative;
    }
}
@media screen and (max-width: 725px) {
    .ms-menu a {
        margin-right: 38%;
    }
}
@media screen and (max-width: 602px) {
    .ms-menu a {
        margin-right: 28%;
    }
}
@media screen and (max-width: 509px) {
    .ms-menu a {
        margin-right: 22%;
    }
}

@media screen and (max-width: 474px) {
    .my-nav-bar {
        padding-left: 5px;
    }
    .ms-menu a {
        margin-right: 8%;   
    }
}