body {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x:hidden; 
}

h1 {
    font-size: 55px
}

h2 {
    font-size: 36px;
    color: #555;
}
@media screen and (max-width: 725px) {
   h1 {
    font-size: 36px
}

h2 {
    font-size: 24px;
    color: #555;
}
}
